.minus-2rem {
  height: calc(100vh - 2rem);
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid;
  background-image: linear-gradient(to right, #3b82f6, #8b5cf6);
}
